.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Arial', sans-serif;
}

.login-container .form-container {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-container .title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333333;
}

.login-container .input-field {
  width: calc(100% - 2rem);
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-container .login-button {
  width: calc(100% - 2rem);
  padding: 0.8rem;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-container .login-button:hover {
  background-color: #666666;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}
