@keyframes spin {
    from {
        transform: translate(-50%, 100%) rotate(0deg);
    }
    to {
        transform: translate(-50%, 100%) rotate(360deg);
    }
}
.rank-list .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82.5%;
    font-size: 1.2rem;
    color: #555;
    position: relative;
}

.rank-list .loading::after {
    content: "";
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rank-list .toggle-button {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f8d754;
    color: #fff;
    border: none;
    padding: 1rem 0.5rem;
    cursor: pointer;
    z-index: 1001;
    transition: all 0.3s ease;
    border-radius: 0 4px 4px 0;
    font-weight: 500;
    font-size: 1rem;
}

.rank-list .toggle-button:hover {
    background-color: #e49528;
}

.rank-list .toggle-button.open {
    left: 340px;
}

.rank-list .leaderboard {
    width: 300px;
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    position: fixed;
    left: -350px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    overflow-y: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.rank-list .leaderboard::-webkit-scrollbar {
    width: 6px;
}

.rank-list .leaderboard::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.rank-list .leaderboard::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.rank-list .leaderboard.open {
    flex: 1;
    left: 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.rank-list .leaderboard h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin: 0px 0px 20px;
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

.rank-list .rank-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease;
    font-size: 1rem;
}

.rank-list .rank-item:hover {
    transform: translateX(4px);
    background-color: #f0f0f0;
}

.rank-list .rank-number {
    font-weight: bold;
    color: #555;
    text-align: center;
}

.rank-list .username {
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    text-align: center;
}

.rank-list .points {
    font-weight: bold;
    color: #27ae60;
    text-align: right;
}

.rank-item.user-rank {
    position: sticky;
    background-color: #abcbe2;
    font-weight: bold;
    margin-bottom: 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}